.pyc
.idea
.cache
.DS_Store
.eggs

.coverage

__pycache__
pypact.egg-info
.pytest_cache

_PYPACT_TEST_*

build
dist
temp/

*.xcworkspace
.wrk
.vscode
htmlcov/


docs/_build
docs/_static
docs/_templates

venv/**
