language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install codecov pytest-cov pylint
before_script:
  - export PYPACT=$PWD
  - export PYTHONPATH=$PYTHONPATH:$PYPACT/pypact
script:
  - pip3 install -e $PYPACT
  - python $PYPACT/setup.py test
  - coverage run $PYPACT/tests/testsuite.py
  - pylint -j4 $PYPACT/pypact --rcfile=$PYPACT/.pylintrc || true
  - fispactconverter.py $PYPACT/reference/test31.out test31.json
#  - diff test31.json $PYPACT/reference/test31.json
# run examples (no plotting)
  - cd $PYPACT/examples
  - python changefilesfile.py
  - python doserates.py
  - python outputjson.py
  - python readfilesfile.py
  - python rundatajson.py
  - python tocsv.py
  - python writefilesfile.py
  - python writefluxesfile.py
  - python writeinputfile.py
  - cd $PYPACT
after_success:
  - codecov
